*{
    margin: 0;
    padding:0;

}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    display: flex;
    margin: 0px 180px;
   
    justify-content: space-around;
    align-items: center;
}
.logo{
    
    font-size: 30px;
    font-weight: 700;
    margin: 12px 0px;
    
    

}
a{
    margin-left: 20px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.facebook{
    margin-left: 5px;
}
.twitter{
    margin-left: 5px;
}
.instagram{
    margin-left: 5px;
}
/*ACA TERMINA EL HEADER */
.hero{
    display: flex;
    justify-content: space-around;
    background-color: #F5DF4E;
    padding: 200px 190px;
    align-items: center;
    
}
.divfotomia{
    

}
.fotomia{
    height: 480px;
    width: 96%;
    border-radius: 50%;
    border: 15px solid white
}
.freelancer{
    font-size: 40px;
    font-weight: 300;
}


/* DEVELOPER DIV EMPIEZA ACA */
.h1developer{
    font-size: 100px;
}



.divrectangulodeveloper{
    background-color: black ;
    width: 15px;
    height: 94px;
    opacity: 0.10;
    
}
.divdeveloperh1yrectangulo{
    display: flex;
    align-items: center;
}
.divh1developer{
    margin-right: 10px;
}
/* developer div termina aca */
.divbotonysvgycontactame{
    display: flex;
    align-items: center;
}
.radicado{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.svgflecha{
    width: 3%;
}
.contactameA{
    text-decoration: underline;
    margin-right: 10px;
}
.buttonmistrabajos{
    font-size: 18px;
    font-weight: 600;
    background-color: black;
    color: whitesmoke;
    width: 40%;
    height: 60px;
}
/* ACA TERMINA EL HERO */

.section2{
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.p_acercademi{
    width: 100px;
    text-align: center;
    background-color: #F5DF4E;
    margin-left: 47%;
    
    margin-bottom: 10px;
    font-weight: 500;
    
}

.h1_conoceme{
    text-align: center;
    font-size: 40px;
}
.contenedoracercademi{
    margin-bottom: 40px;

}

.contenedorholasoymarcos{
    display: flex;
    align-items: center;
    
    margin-left: 100px;
    margin-right: 150px;
   
    
    
}
 .h2_holasoymarcos{
    font-size: 35px;
    font-weight: lighter;

 }
 .nombrespan{
    font-weight: 600;
    
 }
 .hrmarcoshola{
    width: 23.5%;
    height: 3px;
    margin-left: 12.5%;
    background-color: #F5DF4E;
    border-color: #F5DF4E;
    margin-bottom: 20px;
 }
.p_soyundiseñador{
    font-size: 21px;
    width: 80%;
    line-height: 40px;
}
.span_3{
    font-size: 130px;
    color: #4C4D4D;
    margin-bottom: 10px;
    font-weight: 600;
    
    
    
}
.div_spanmesesdxp{
    width: 200px;

}
.span3div{
    background-color: #F5DF4E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 125px;
    height: 125px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.p_mesesdeexp{
    font-size: 30px;
    
    
   
  
    
}
.div_datos{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 26px;
    padding-top: 80px;
}
.p_arribadatos{
font-size: 18px;
color: #4C4D4D;

}
.p_abajodatos{
    font-size: 18px;
    font-weight: 600;
}
/* TERMINA SECTION 2 */
.section3{
    
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F8F9FA;
}

.p_qesloqhago{
margin: 0 auto;
background-color: #F5DF4E;
width: 160px;
font-weight: 500;
margin-bottom: 10px;
}
.h1_comotpuedoayudar{
text-align: center;
font-size: 40px;
}
/* CONTENEDOR DE SKILLS COMIENZA */
.DIV_SKILLSCONTENEDOR{
    display: flex;
}
